VITE_API_URL="http://localhost:3000/api"
VITE_BACKEND_URL="http://localhost:3000"
VITE_API_PUSH=""
VITE_SECRET_KEY="odhgioh7ero5yut89"
VITE_MODE_SYSTEM="erp" # erp | arena | delivery
VITE_SUPPORT_WHATSAPP="8985585"
VITE_SUPPORT_EMAIL=""
