:root {
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #c0c0c0;
}

.dark {
  --scrollbar-track: #1e1e1e;
  --scrollbar-thumb: #555555;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  src: url('../../public/fonts/Satoshi/Satoshi-Bold.otf') format('truetype');
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  font-family: 'Poppins', 'Roboto', 'Satoshi', 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}
