@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --body: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;

    --card: 210 20% 98%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 88%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 20% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    --danger: 0 72.2% 50.6%;
    --info: 198.6 88.7% 48.4%;
    --warning: 37.7 92.1% 45.2%;
    --success: 142.1 70.6% 45.3%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --body: 222.2 84% 0%;
    --foreground: 210 40% 98%;

    --card: 220.9 39.3% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 212 94% 32%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 216.9 19.1% 26.7%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    --danger: 0 70% 35.3%;
    --info: 201 90% 27.5%;
    --warning: 22.7 82.5% 31.4%;
    --success: 142.8 64.2% 24.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    @apply invert sepia saturate-200 hue-rotate-180 cursor-pointer;
  }
}
.dp__main {
  --dp-font-family: 'Roboto', sans-serif !important;
  --dp-font-size: 14px !important;
  --dp-input-padding: 7px 30px 7px 30px !important;
}
.dp__theme_light {
  --dp-background-color: #f9fafb !important;
  --dp-cell-border-radius: 0.5rem !important;
  --dp-border-radius: 0.3rem !important;
  --dp-text-color: #000 !important;
  --dp-border-radius: 0.5rem !important;
}
.dp__theme_dark {
  --dp-background-color: #111827 !important;
  --dp-text-color: #fff !important;
  --dp-hover-color: #484848 !important;
  --dp-hover-text-color: #fff !important;
  --dp-hover-icon-color: #959595 !important;
  --dp-cell-border-radius: 0.5rem !important;
  --dp-border-color: #21303d !important;
  --dp-border-radius: 0.5rem !important;
  --dp-menu-border-color: #2d2d2d !important;
  --dp-border-color-hover: #aaaeb7 !important;
  --dp-border-color-focus: #28292b !important;
}

/* Tema claro */
.Vue-Toastification__toast--warning {
  background-color: #c98104 !important;
}
/* Tema escuro */
.dark .Vue-Toastification__toast {
  color: #f9fafb;
}

.dark .Vue-Toastification__toast--success {
  background-color: #0f662f !important;
}
.dark .Vue-Toastification__toast--error {
  background-color: #811010 !important;
}
.dark .Vue-Toastification__toast--info {
  background-color: #113a7c !important;
}
.dark .Vue-Toastification__toast--warning {
  background-color: #754c04 !important;
}
